<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>13556050831</string>
		<key>shortcut</key>
		<string>135</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>15382726814</string>
		<key>shortcut</key>
		<string>153</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>440114200505110216</string>
		<key>shortcut</key>
		<string>440</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>alice.drop.ace@icloud.com</string>
		<key>shortcut</key>
		<string>alice.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>cheng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>÷</string>
		<key>shortcut</key>
		<string>chu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>马上到！</string>
		<key>shortcut</key>
		<string>msd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∪</string>
		<key>shortcut</key>
		<string>ubing</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>°</string>
		<key>shortcut</key>
		<string>udu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>γ</string>
		<key>shortcut</key>
		<string>ugama</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∧</string>
		<key>shortcut</key>
		<string>ujiao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∩</string>
		<key>shortcut</key>
		<string>ujiao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>σ</string>
		<key>shortcut</key>
		<string>usigema</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>σ</string>
		<key>shortcut</key>
		<string>usigma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>τ</string>
		<key>shortcut</key>
		<string>utau</string>
	</dict>
</array>
</plist>
